.tab-name {
    font-size: 1.5em;
}

.medium-header {
    margin: 2%;
}

#about {
    margin-top: 15%;
    padding-bottom: 15%;
}

img {
    width: 100%;
}

.baseSlides, .jacuzziSlides, .cultSlides, .floraSlides {
    display: none;
}

.w3-left, .w3-right, .w3-badge {
    cursor:pointer
}

.w3-badge {
    height:13px;width:13px;padding:0
}