@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.w3-open-sans {
    font-family: 'Open Sans', sans-serif;
}

footer {
    margin: 5%;
    font-size: 1.5em;
}

#title {
    margin-top: 20%;
    margin-bottom: 28%;
}